img {
    width: 150px;
}

ion-header {
    box-shadow: none;

    .header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .child-1 {
            background-color: #80b1b7;
            width: 44%;
            height: 156px;

            .icon {
                width: 150px;
            }
        }

        .child-2 {
            background-color: white;
            width: 56%;
            text-align: end;
            height: 156px;
            padding: 33px 45px;

            .menu {
                font-size: 60px;
            }
        }
    }
}

@media (min-width: 1500px) and (max-width: 2100px) {
    ion-header {
    
        .header-wrapper {
    
            .child-1 {
                width: 48%;
            }
            
            .child-2 {
                width: 52%;
            }
        }
    }
}