label {
    font-size: 23px;
    display: block;
    margin-bottom: 5px;
  }

.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #80b1b7;
    border: none;
    outline: none;
  }
  
  .border-bottom{
    border-bottom: 3px solid white;
  }