<!-- <div class="page-wrapper">
  <app-header></app-header>
  <div class="content-wrapper">
      <div class="left-side">A</div>
      <div class="middle-side">
        <app-divider></app-divider>
      </div>
      <div class="right-side">B</div>
  </div>
</div> -->

<div>
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="container">
    <div class="left">A</div>
    <div class="middle">
      <app-divider></app-divider>
    </div>
    <div class="right">C</div>
  </div>
</div>
