.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.header {
  grid-area: header;
}

.left {
  grid-area: left;
  background-color: #80b1b7;
  width: 44%;
  height: 100vh;
}

.middle {
  grid-area: middle;
  position: absolute;
  z-index: 999;
}

.right {
  grid-area: right;
  background-color: transparent;
  width: 56%;
  height: 100vh;
  z-index: 999;
}