.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  font-family: Arial, sans-serif;
}

::ng-deep.swal2-container {
  height: 100vh !important;
}

.header {
  grid-area: header;
}

.left {
  grid-area: left;
  color: white;
  background-color: #80b1b7;
  width: 44%;
  height: 100vh;
  z-index: 1000;
  padding-left: 46px;

  h1 {
    font-size: 30px;
    font-weight: 600;
  }

  p {
    margin-bottom: 30px;
    width: 451px;
    font-size: 18px;
  }

  #name,
  #intention,
  #rel {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #80b1b7;
    border: none;
    outline: none;
    border-bottom: 3px solid white;
  }

}

.middle {
  grid-area: middle;
  position: absolute;
  z-index: 999;
}

.right {
  grid-area: right;
  background-color: transparent;
  width: 56%;
  height: 100vh;
  z-index: 999;

  .right-header {
    text-align: start;
    width: 977px;
    float: right;
    margin: 44px 0;
  }

  .key-points-container {
    float: right;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 39px 0px;
    grid-auto-flow: row;
    grid-template-areas: ". .";
    width: 977px;
    margin-bottom: 50px;
  }

  .button-container{
    float: right;
    width: 977px;
    p{
      text-align: center;
      margin: auto;
      background-color: #7bbbba;
      color: white;
      text-transform: uppercase;
      width: fit-content;
      padding: 15px 25px;
      border-radius: 8px;
      font-size: 12px;
      cursor: pointer;
      box-shadow: 0px 0px 6px 0px #78909c59;
    }
  }

}


/* -------------------------------------------------------------------------- */
/*                               CSS Media Query                              */
/* -------------------------------------------------------------------------- */

@media (min-width: 1500px) and (max-width: 2100px){
  .left{
    width: 48%;
  }
  .right{
    border: 1px solid red;
    padding: 0 10px 0 0;
    width: 52%;
    .right-header{
      width: 650px;
    }
    .key-points-container {
      float: right;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 39px 56px;
      grid-template-areas: ". .";
      width: 650px;
  }
  }
}
@media only screen and (max-width: 600px){
/*Big smartphones [426px -> 600px]*/
}
@media only screen and (max-width: 425px){
/*Small smartphones [325px -> 425px]*/
}