.waves {
    transform: rotate(90deg);
    position: relative;
    top: 0;
    left: 70px;
    width: 100vw;
}

.parallax {
    animation-name: move-forever;
    animation-delay: 2s;
    animation-duration: 6s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}

@keyframes move-forever {
    0% {
        transform: translate3d(85px, 0, 0);
    }
    100% {
        transform: translate3d(-90px, 0, 0);
    }
}



/* -------------------------------------------------------------------------- */
/*                               CSS Media Query                              */
/* -------------------------------------------------------------------------- */

@media (min-width: 1500px) and (max-width: 2100px) {
    .waves {
        top: 343px;
        left: 7%;
    }
}

@media (min-width: 1000px) and (max-width: 1499px) {
    .waves {
        top: 230px;
        left: 6.7%;
        width: 2000px;
    }
}

